@import url('https://fonts.googleapis.com/css?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 65%;
}
section{
    padding: 2rem 9%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 2;
    background: #000;

}
.header .logo img{
    height: 8rem;
}

.header .navbar #close{
    display: none;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 2rem;
    color: #fff;
}

.header .navbar a:hover{
    color: #940606;
}

.header #menu{
    display: none;
}

.Home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #0e0d0d;
}

.Home .content{
    flex: 1 1 40rem;
}

.Home .content .title{
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
}
.Home .content .title span{
    text-transform: uppercase;
    color: #d3ad78;
}
.Home .content .description{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}

.Home .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}
.Home .content .btn:hover{
    letter-spacing: .2rem;
}

.Home .image{
    flex: 1 1 40rem;
}
.Home .image img{
    width: 100%;

}

